# Secretos
.env
*.env
!.env.example
# Archivos temporales para funcionalidad individual
docker-compose.dev.yml
dev-init-db.sql
*.dev.sql
diego/

# Python / Flask
__pycache__/
*.py[cod]
venv/
.venv/

# Node / Vue
node_modules/
dist/
.vite/

# Sistema
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
